
button {
    font-size: 2em;
    background: #397243;
    color: rgb(240, 175, 35);
    border: 0.25rem solid rgb(240, 175, 35);
    padding: 0 0.75em;
    margin: 1rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border-radius: 25px;
    font-family: 'Bungee', cursive;
  }
  button:hover {
    color: #397243;
  }
  button::after {
    content: "";
    background: rgb(240, 175, 35);
    position: absolute;
    z-index: -1;
    padding: 0.85em 0.75em;
    display: block;
    border: 0.25rem solid #397243;
    border-radius: 25px;
  }

  button[class^="slide"]::after {
    transition: all 0.35s;
  }
  button[class^="slide"]:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.35s;
  }

button.slide_from_left::after {
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
  }