*{
    margin: 0;
}


.app {
    display: grid;
    place-items: center;
    background-color: rgba(70, 168, 108);
    width: 100vw;
    height: 100vh;
}

.frolferApp {
    background-color: rgba(213, 215, 216);
    width: 500px;
    height: 800px;
    border-radius: 5px;
}

::-webkit-scrollbar {
    display: none
    
}

.MuiFormLabel-root, .MuiInputBase-input  {
    font-family: 'Play', sans-serif !important;

}


@media (max-width: 500px) {
    .frolferApp { 
        width: 100vw;
        height: 100vh;
        border-radius: 0 0 5px 5px;
    }
}



